<div class="container">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
      <div class="col-md-4 d-flex align-items-center">
        <span class="mb-3 mb-md-0 text-muted">&copy; 2022 
        <a href="mailto:tomi@sange.fi" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
         Tomi Toivio</span>
        </a>
      </div>
  
      <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
        <li class="ms-3"><a class="text-muted" href="https://twitter.com/Tomi_Toivio"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://linkedin.com/in/tomitoivio"><i class="fa-brands fa-linkedin-in"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://facebook.com/tomi.toivio"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="ms-3"><a class="text-muted" href="https://gitlab.com/TomiToivio/"><i class="fa-brands fa-gitlab"></i></a></li>
      </ul>
    </footer>
  </div>
  