<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="https://quiet-mountain-25635.herokuapp.com/"><span class="glyphicon glyphicon-heroku"></span> View on Heroku</a>
      </li>
      <li>
        <a href="https://gitlab.com/TomiToivio/javascript-demo/"><span class="glyphicon glyphicon-gitlab"></span> Source on GitLab</a>
      </li>
      <li>
      <a href="/opencv/"></span> OpenCV Demo</a>
      </li>
      <li>
      <a href="/react/"></span> React Demo</a>
      </li>
      <li>
      <a href="/three/"></span> Three Demo</a>
      </li>
      <li>
      <a href="/phaser/"></span> Phaser Demo</a>  
      </li>
    </ul>
  </div>
</nav>
