<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

  <%- include ("../partials/nav.ejs") %>

<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>JavaScript Demo</h1>
    <p>Generic JavaScript demo hoster on Heroku.</p>
    <a type="button" class="btn btn-lg btn-default" href="https://quiet-mountain-25635.herokuapp.com/"> View on Heroku</a>
    <a type="button" class="btn btn-lg btn-primary" href="https://gitlab.com/TomiToivio/javascript-demo/"></span> Source on GitLab</a>
  </div>
</div>
</div>
<%- include ("../partials/footer.ejs") %>
</body>
</html>
